# Data that will be stored in S3
./data
/data/
.env
*.cbm
config.ini
./cron_logs
./cron_logs/*
./logs
./logs/*
./logs/*
./config
./config/*
/home/exx/myCode/horse-racing/FoxRiverAIRacing/data/backups
/home/exx/myCode/horse-racing/FoxRiverAIRacing/data/backups/*
/home/exx/myCode/horse-racing/FoxRiverAIRacing/data
/home/exx/myCode/horse-racing/FoxRiverAIRacing/data/*
/home/exx/myCode/horse-racing/FoxRiverAIRacing/cron_logs
/home/exx/myCode/horse-racing/FoxRiverAIRacing/cron_logs/*
logs/ingestion.log
./jdbc
./jdbc/*
/home/exx/myCode/horse-racing/FoxRiverAIRacing/notebooks/data
/home/exx/myCode/horse-racing/FoxRiverAIRacing/notebooks/data/*
/home/exx/myCode/horse-racing/FoxRiverAIRacing/notebooks/data/*
/home/exx/myCode/horse-racing/FoxRiverAIRacing/notebooks/data/*
/home/exx/myCode/horse-racing/FoxRiverAIRacing/notebooks/data/*
/home/exx/myCode/horse-racing/FoxRiverAIRacing/notebooks/data/*
# Specific large files
logs/sectionals_ingestion.log/ingestion.log
/home/exx/myCode/horse-racing/FoxRiverAIRacing/src/data_preprocessing/__pycache__
/home/exx/myCode/horse-racing/FoxRiverAIRacing/src/inference/__pycache__
trial*
./trial*